{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
            <li>
                <a class="sel" href="{{ url('ef-courses/markets') }}">
                    <span class="label">Markets</span>
                </a>
            </li>

        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "EF Courses" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{% set fullPageForm = true %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% block actionButton %}
{% if edit %}
    {% set saveButtonWord = "Save" %}
{% else %}
    {% set saveButtonWord = "Add" %}
{% endif %}
<input type="submit" class="btn submit" value="{{ saveButtonWord|t('app') }}">
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    {% if edit %}
        <h2>{{ "Edit Market"|t('ef-courses') }}</h2>
    {% else %}
        <h2>{{ "Add Market"|t('ef-courses') }}</h2>
    {% endif %}
    <p class="textline"></p>
    <!--<img src="{{ iconUrl }}" height="64" width="64" /> -->
        {% if edit %}
            {{ forms.hidden({
                id: marketId,
                name: 'marketId',
                value: market['id'],
            }) }}
        {% endif %}

        {{  forms.selectField({
            label: "Site",
            instructions: "Select the site that this market should link to"|t("ef-courses"),
            id: "site",
            class: "inline-item",
            fieldClass: "inline-item",
            options: sites,
            name: "siteId",
            value: market['siteId'],
        }) }}
        {{ forms.textField({
            label: "Market Code",
            instructions: "The Market Code for the market (Ex: FI)",
            id: "marketCode",
            name: "marketCode",
            warning: false,
            value: market['marketCode'],
        }) }}
        {{ forms.textField({
            label: "Main Location",
            instructions: "The main location for the market, this is used to filter all departure points, so we can have the cheapest prices shown (Ex: For Spain, normally is Madrid)",
            id: "mainLocation",
            name: "mainLocation",
            warning: false,
            value: market['mainLocation'],
        }) }}


{% endset %}
