{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
            <li>
                <a class="sel" href="{{ url('ef-courses/markets') }}">
                    <span class="label">Markets</span>
                </a>
            </li>

        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "EF Courses" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% block actionButton %}
    <div>
        <a class="btn submit" href="{{ cpUrl('ef-courses/markets/add-market') }}">Add Market</a>
    </div>

{% endblock %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Market List"|t('ef-courses') }}</h2>
    <p class="textline"></p>
    {% set markets = craft.efCourses.marketsList() %}
    {% if markets|length > 0 %}
        <table class="fullwidth data">
            <thead>
            <tr>
                <th>Site</th>
                <th>Market Code</th>
                <th>Main Location</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for market in markets %}
                <tr>
                    <td><a href="{{ cpUrl('settings/sites/' ~ market.site.id) }}">{{ market.site }}</a></td>
                    <td>{{ market.marketCode }}</td>
                    <td>{{ market.mainLocation }}</td>
                    <td><a href="{{ cpUrl('ef-courses/markets/edit-market/' ~ market.id) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>No markets, please add some markets.</p>
    {% endif %}
        {% set marketsChecks = craft.efCourses.marketsChecks() %}
        {% if not marketsChecks %}
            <div class="warning">The number of markets is not the same as sites, please set the number of markets the same as sites so the website can function properly.</div>
        {% endif %}
    <!--<img src="{{ iconUrl }}" height="64" width="64" /> -->
{% endset %}
