{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a class="" href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="sel" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% set tabs = {
    locations: { label: "Locations"|t, url: url('ef-courses/ilscourses') },
    courses: { label: "Courses"|t, url: url('ef-courses/ilscourses/courses') },
} %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "EF Courses - ILS" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('ef-courses') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <p class="textline"></p>
    <a id="fetchResourseButton" class="btn submit" href="{{ actionUrl('ef-courses/ils/fetch-locations') }}">Fetch Locations</a>
    <hr>
    {% set locations = craft.efCourses.locationsList('ils') %}
    {% if locations|length > 0 %}
        <table class="fullwidth data">
        <thead>
        <tr>
            <th>City</th>
            <th>Enabled Courses (Disabled)</th>
            <th>Country</th>
            <th>City Field(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="ilscourses/location/?destid={{ location.id }}">{{ location.cityName }}</a></td>
                <td>
                    {% for c in location.courses %}
                        {% set content = c.courseContent|json_decode %}
                        {% if content.Coursenumber is defined %}
                            {% if c.enable %}
                                {{ content.Coursenumber|trim }},
                            {% else %}
                                ({{ content.Coursenumber|trim }}),
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ location.country.countryName }}</td>
                <td>
                    {% for cityField in location.cityFields %}
                        {% if cityField.enable %}
                            {{ cityField.value }}
                        {% else %}
                            ({{ cityField.value }})
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

        </table>
    {% else %}
        <p>No Locations, click Fetch Locations button to scan.</p>
    {% endif %}
{% endset %}
