{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a class="sel" href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/markets') }}">
                    <span class="label">Markets</span>
                </a>
            </li>

        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "EF Courses" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('ef-courses') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}

    {% set status = craft.efCourses.getPluginStatus %}
    <h2>{{ "Status"|t('ef-courses') }}</h2>
    <p class="textline"></p>
    <div>{{ status.msg }}</div>
    <div>
        <a class="btn submit" href="{{ status.action.link }}">{{ status.action.text }}</a>
    </div>
    <!--<img src="{{ iconUrl }}" height="64" width="64" /> -->
{% endset %}
