{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses Settings.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}

{{ forms.textField({
    label: 'SHA-IN password',
    instructions: 'Please enter a password to be used on the SHA Signature. **Notice** that this will be **overridden** if a Global Environment variable is set up on the webserver.',
    id: 'shainpassword',
    name: 'shainpassword',
    value: settings['shainpassword']})
}}

{% if shainSet %}
    <strong>This field is being overridden by the Global Environment variable that is set.</strong>
{% endif %}
