{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a class="" href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a class="sel" href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% set tabs = {
    locations: { label: "Locations"|t, url: url('ef-courses/locations') },

} %}
{# categories: { label: "Categories"|t, url: url('ef-courses/locations/categories') }, #}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{% set fullPageForm = true %}

{# set saveShortcutRedirect = "http://google.com" %}#}

{# The title of this CP section #}
{% set title = "EF Courses - Locations" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}


{% block saveButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
{% endblock %}


{# The content of the CP Section#}
{% set content %}
    <p class="textline"></p>
    <hr>
    {% set locations = craft.efCourses.locationsListAll() %}
    {% set locCategory = craft.efCourses.catLocationList() %}

    {{ locations|length }} locations total

    {% if locations|length > 0 %}

    <table class="fullwidth data">
        <thead>
        <tr>
            <th>City (from API)</th>
            <th>Country</th>
            <th>City Category</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.cityName }}</td>
                <td>{{ location.country.countryName }}</td>
                <td>
                    {{  forms.selectField({
                        id: location.id ~ "-efProducts",
                        class: "inline-item",
                        fieldClass: "inline-item",
                        options: locCategory,
                        name: "city_"~location.id,
                        value: craft.efCourses.getRelationLocationID(location.id),
                    }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% else %}
        <p>No Locations. Please fetch the available locations from the API in the correct section.</p>
    {% endif %}
{% endset %}
