{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EF Courses index.twig
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block sidebar %}
    <nav>
        <ul>
            <li>
                <a class="" href="{{ url('ef-courses') }}">
                    <span class="label">Status</span>
                </a>
            </li>

            <li>
                <a class="" href="{{ url('ef-courses/ltcourses') }}">
                    <span class="label">LT Courses</span>
                </a>
            </li>
            <li>
                <a class="sel" href="{{ url('ef-courses/ilscourses') }}">
                    <span class="label">ILS Courses</span>
                </a>
            </li>
            <li>
                <a href="{{ url('ef-courses/locations') }}">
                    <span class="label">Locations</span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div id="efCoursesStatus"></div>
{% endblock %}

{% set tabs = {
    locations: { label: "Locations"|t, url: url('ef-courses/ilscourses') },
    courses: { label: "Courses"|t, url: url('ef-courses/ilscourses/courses') },
} %}
{% set selectedTab = 'courses' %}

{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\efcourses\\EfCoursesAsset") %}
{% do view.registerAssetBundle("ef\\efcourses\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{% set fullPageForm = true %}

{# The title of this CP section #}
{% set title = "EF Courses - ILS" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('ef-courses') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('ef-courses') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <input type="hidden" name="switchUrl" value="{{ actionUrl('ef-courses/ils/toggle-course-type') }}">
    {{ csrfInput() }}
    <p class="textline"></p>
    <a id="fetchResourseButton" class="btn submit" href="{{ actionUrl('ef-courses/ils/fetch-courses') }}">Fetch Courses</a>
    <hr>
    {% set coursetypes = craft.efCourses.courseList("ils") %}
    {% if coursetypes|length > 0 %}
        <table class="fullwidth data">
            <thead>
            <tr>
                <th></th>
                <th>C</th>
                <th>Min</th>
                <th>Max</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Order</th>
                <th>Use</th>
                <th>Number</th>
            </tr>
            </thead>
            <tbody>
            {% set entry = 1 %}
            {% for course in coursetypes %}
                <tr>
                    <td>{{ entry }}</td>
                    <td><a class="openCourseEdit" data-id="{{ course.id }}" href="{{ actionUrl('EfCourses/ILSImporter/editCourse') }}">{{ course.courseType }}</a></td>
                    {% for courseType in course.fields %}
                        <td>{{ courseType.value|slice(0,50) }}</td>
                    {% endfor %}
                    <td>{{
                        forms.lightswitchField({
                            id: 'toUse_'~course.id,
                            name: 'use_'~course.id,
                            value: course.enable,
                            on: course.enable,
                            required: false
                        })
                        }}</td>
                    <td>{{ course.coursesCount }}</td>
                </tr>
                {% set entry = entry + 1 %}
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>No Courses Types, click Fetch Courses button to scan.</p>
    {% endif %}
{% endset %}
