{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * EfCoursesField Field Input
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.checkboxSelectField({
        id: id ~ "-efCoursesCity",
        fieldClass: "",
        instructions: 'Select the city this destination corresponds to. You can associate multiple locations'|t,
        name: name,
        options: options,
        values: value,
        showAllOptions: false,
        })
}}
