{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS 3.x
 *
 * Courses Field Input
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.selectField({
        id: id ~ "efCourses",
        class: "inline-item",
        instructions: 'Select the API Course this Course corresponds to.'|t,
        name: name,
        options: options,
        value: value})
}}
