{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EF Courses plugin for Craft CMS
 *
 * EfCoursesUtility Utility Content
 *
 * @author    EF Global Creative
 * @copyright Copyright (c) 2019 EF Global Creative
 * @link      https://ef.design
 * @package   EfCourses
 * @since     0.0.1
 */
#}

<h1>EfCoursesUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@ef/efcourses/assetbundles/efcoursesutilityutility/dist', true) ~ '/img/EfCoursesUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>